# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# Tailwind CSS Dist Directory
dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Wrangler
.wrangler/
